[core]
  editor = vim
[user]
  email = schuler.maximilian@gmail.com
  name = Maximilian Schuler
[includeIf "gitdir:~/workspace/itemis/"]
  path = .gitconfig-work
[includeIf "gitdir:~/workspace/otto/"]
  path = .gitconfig-otto
[alias]
  s = status
  c = commit -v
  u = push -u origin master
  p = pull --rebase
  f = commit --amend
  r = rebase --interactive
  a = add
