[core]
  editor = vim
	excludesfile = /Users/max/.gitignore_global
[user]
  email = schuler.maximilian@gmail.com
  name = Maximilian Schuler
[includeIf "gitdir:~/workspace/itemis/"]
  path = .gitconfig-work
[includeIf "gitdir:~/workspace/audi/"]
  path = .gitconfig-audi
[alias]
  s = status
  c = commit -v
  u = push -u origin master
  p = pull --rebase
  f = commit --amend
  r = rebase --interactive
  a = add
  l = log
  t = log --graph --pretty=oneline
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
